# Data Science and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List of popular Data Science languages
- List of Python libraries
- List of Data Science tools
- Examples for python operations (arithmetic, unit conversion)

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Numpy (Python)
2. Pandas (Python)
3. Scikit-Learn (Python)
4. SciPy (Python)

| Data Science Tools |
| -------- |
| jupyter (Notebook, Lab)  |
| Apache Zeppelin |
| RStudio    |
| Spyder    |

### Below are a few examples of evaluating arithmetic expressions in Python
- Addition: `5+3 == 8`
- Substraction: `5-3 == 2`
- Multiplication: `3*6 == 18`
- Real Division: `8/2 == 4`

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
minutes = 200
# This will convert 200 minutes to hours by diving by 60
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Samuel MÃ¼tzel